html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.not-footer {
  flex: 1;
}

.footer {
  margin-top: 0.5rem;
}

/* Keeping this commented out in case I want to change hero banner to a background image */

/* .title {
  background-image: url("about_page_cover.jpeg");
  opacity: 0.4;
  padding: 0vh;
  overflow: hidden;

} */

/* .hero {
  background-image: url("../about_page_cover.jpeg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center center;
} */

.about_col {
  margin-left: 0vh;
  margin-right: 0vh;
}

.hero-body {
  padding: 0px;
  padding-bottom: 5vh;
}

.about_me .social {
  /* margin-left: 1vh; */
}

.contact-page {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* .portfolio-head {
  margin-top: 5vh;
} */
