html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.not-footer {
  flex: 1;
}

.contact-page {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.footer {
  margin-top: 0.5rem;
}