html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.not-footer {
  flex: 1;
}

.footer {
  margin-top: 0.5rem;
}

/* .title {
  background-image: url("about_page_cover.jpeg");
  opacity: 0.4;
  padding: 0vh;
  overflow: hidden;

} */

/* .hero {
  background-image: url("../about_page_cover.jpeg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center center;
} */

.hero-body {
  padding: 0px;
  padding-bottom: 5vh;
}

.about_me {
  margin-left: 1vh;
}

.contact-page {
  margin-top: 1vh;
  margin-bottom: 1vh;
}